.header {
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.nav__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.logo img {
	width: 1.5rem;
	height: 1.5rem;
}

.logo h1 {
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--primary-color);
}

.nav__menu {
	display: flex;
	align-items: center;
	column-gap: 2.7rem;
	margin-bottom: 0;
}

.logo__founding {
	line-height: 1.3rem;
}

.nav__item {
	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
}

.nav__icons {
	display: flex;
	align-items: center;
	column-gap: 1.2rem;
}

.nav__icons span i {
	font-size: 1.4rem;
	cursor: pointer;
	color: var(--primary-color);
}

.nav__icons span img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.fav__icon,
.cart__icon {
	position: relative;
}

.nav__badge {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 50%;
	right: 0%;
	content: "";
	background-color: var(--primary-color);
	color: #fff;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 600;
	z-index: 10;
}

.mobile__menu {
	font-size: 1.3rem;
	cursor: pointer;
	color: var(--primary-color);
	display: none;
}

.nav__active {
	font-weight: 700;
}